/publish/
bin
obj
.vs
appsettings.Development.json
secrets.json
/CopilotOllamaProxy.ConsoleApp/Properties/PublishProfiles/FolderProfile.pubxml.user
/CopilotOllamaProxy.WinApp/Properties/PublishProfiles/FolderProfile.pubxml.user
